<ion-modal-view>
    <h1 class="title" style="text-align: center">Add your favorite coffee!</h1>
    <div class="list list-inset">
		<label class="item item-input">
    		<input ng-model="coffee_name" type="text" placeholder="Coffee Name...">
  	</label>
  		<label class="item item-input">
   			<input ng-model="coffee_price" type="text" placeholder="Coffee Price...">
  		</label>
  		
  		<label class="item item-input item-select">
    		<div class="input-label">
      			Shop Name...
    		</div>
    	<select ng-model="coffee_shop" ng-options="cafe as cafe.name for cafe in cafes">
        <option value="">...Choose the shop...</option>
    	</select>
  		</label>

  		<ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>

  		<button class="button button-block button-positive" ng-click="addcoffee(coffee_name,coffee_price,coffee_shop)">
  			Add
		  </button>
</ion-modal-view>