  <ion-modal-view>
    <h1 class="title" style="text-align: center">Update your favorite coffee</h1>
    <div class="list list-inset">
		  <label class="item item-input">
    		<input ng-model="coffee_name" type="text" placeholder="{{current_coffee.name}}">
  		</label>
  		<label class="item item-input">
   			<input ng-model="coffee_price" type="text" placeholder="€ {{current_coffee.price}}">
  		</label>

  		<ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>

  		<button class="button button-block button-positive" ng-click="updatecoffee(coffee_name,coffee_price)">
  			Submit
		  </button>

      <button class="button button-block button-assertive" style="margin-top: 30px"
          ng-click="deletecoffee()">
          Delete This Coffee!
      </button>
</ion-modal-view>