<ion-header-bar>
    <h1 class="title">Login</h1>
</ion-header-bar>
<ion-content>
    <form ng-submit="doLogin(user)">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-email"></i>
                <span class="input-label" style="margin-left:10px;">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <i class="icon ion-locked"></i>
                <span class="input-label" style="margin-left:10px;">Password</span>
                <input type="password" ng-model="user.password">
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Log in</button>
            </label>
        </div>
    </form>
    <label class="item">
        <button class="button button-block button-calm" ui-sref="signup">Sign up</button>
    </label>
    <label class="item text-center">
        <button class="button button-positive" ng-click="facebookSignin()">
            <i class="icon ion-social-facebook" style="padding-right: 10px;"></i> Log in with Facebook (Mobile Only)
        </button>
    </label>
    <label class="item text-center">
        <button class="button button-calm" ng-click="twitterLogin()">
            <i class="icon ion-social-twitter" style="padding-right: 10px;"></i> Log in with Twitter (Mobile Only)
        </button>
    </label>
</ion-content>
