<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right" >
                <button class="button icon ion-gear-a" ng-click='modalsettings.show()'>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <button
            ng-show="submenu"
            ng-click="backToMain()"
            class="button button-clear icon ion-chevron-left"
            >Back</button>
        </ion-header-bar>
        <ion-content>
        <div
            ng-switch on="selection"
            class="slide-right-left"
            ng-class="{reverse: submenu}"
        >
        <div class="item item-avatar">
            <img src="img/avatar{{user.avatar_id}}.jpg">
            <h2>{{user.email}}</h2>
            <p>{{user.name}}</p>
        </div>
            <div ng-switch-default>
            <ion-list>
                <ion-item menu-close href="#/app/admin" ng-show="{{user.isAdmin}}">
                    Admin
                </ion-item>
                
                <ion-item ng-click="openSub('sub')">
                    Shops
                    <span class="item-note">
                        See Catagories
                    </span>
                </ion-item>            
                <ion-item menu-close href="#/app/movielist">
                    Movies On Hot
                </ion-item>
                <ion-item menu-close href="#/app/moviefinder">
                    Movie Finder
                </ion-item>
                <ion-item menu-close href="#/app/coffeelist">
                    Coffee Mate
                </ion-item>
                <div class="item item-divider">
                    My Zone:
                </div>
                <ion-item menu-close href="#/app/search">
                    Search
                </ion-item>
                <ion-item menu-close href="#/app/favorites">
                    Favorites
                </ion-item>
                <ion-item menu-close href="#/app/commentlist">
                    Comments
                </ion-item>
                <ion-item menu-close href="#/app/defaultsettings">
                    Default Settings
                </ion-item>
                <ion-item menu-close ui-sref="logout">
                    Logout
                </ion-item>
            
            </ion-list>
            </div>

            <div ng-switch-when="sub">
                <ion-list>
                <div class="item item-divider">
                    Catagorized By:
                </div>
                <ion-item menu-close href="#/app/shoplist">
                    All Shops
                </ion-item>
                <ion-item menu-close href="#/app/restaurantlist">
                    Restaurants
                </ion-item>
                <ion-item menu-close href="#/app/winebarlist">
                    Wine Bars
                </ion-item>
                <ion-item menu-close href="#/app/cafelist">
                    Cafes
                </ion-item>
                <ion-item menu-close href="#/app/cinemalist">
                    Cinemas
                </ion-item>
                </ion-list>
                </div>
            
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
