<ion-view view-title="Movie Finder">
  <ion-content padding="true">
  	<h3 style="text-align: center">Please make sure you are using the scanner on the mobile app!</h3>
	<div style="display: flex; align-items: center; justify-content: center;">
		<a ng-click="scan()"><img src="img/scanner.png" width=200px; height=200px></a>
	</div>
  </ion-content>
</ion-view>