<ion-view view-title="Shops">
  <ion-header-bar class="bar-subheader item-input-inset" >
	<label class="item-input-wrapper" >
		<i class="icon ion-search"></i>
	<input id="search_input" type="search" placeholder="Quick Search" ng-change="search(data.search)" ng-model="data.search">
	</label>
	<button class="button button-clear" ng-click="clear()">
		Cancel
	</button> 
  </ion-header-bar>
  
  <ion-content>
   <div class="list">
	    <a class="item item-thumbnail-left" ng-click='go(shop)' ng-repeat="shop in shops">
	      <img src="img/shops.png">
	      <h2>{{shop.name}}</h2>
	      <p>Tel: {{shop.tel}}</p>
	      <p>Distance: {{shop.dist}} KM</p>
	    </a>
		</div>
  </ion-content>
</ion-view>
